<div class="jumbotron">
    <div class="container">
        <h1>Ember CLI Morris Charts</h1>
        <p>This is an ember cli addon to easyly create awesome charts using morris charts jquery plugin.
        <br /><br />
        The plugin has been wrapped in this ember addon so you can use it with your controller or model properties, whenever data is updated, the chart will also update.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Using in your project »</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Including Morris charts in your project</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{morris-charts type="Area" data=data xKey="y" yKeys=yKeys labels=labels resize=true}}
            {{morris-charts type="Line" data=data xKey="y" yKeys=yKeys labels=labels resize=true}}
            {{morris-charts type="Bar" data=data xKey="y" yKeys=yKeys labels=labels resize=true}}
            {{morris-charts type="Donut" data=dataDonut resize=true}}
        </div>
    </div>
</div>
<div class="container">
    {{morris-charts type="Area" data=data xKey="y" yKeys=yKeys labels=labels resize=true}}
    {{morris-charts type="Line" data=data xKey="y" yKeys=yKeys labels=labels resize=true}}
    {{morris-charts type="Bar" data=data xKey="y" yKeys=yKeys labels=labels resize=true}}
    {{morris-charts type="Donut" data=dataDonut resize=true}}
</div>
{{outlet}}